/* Fontes */
$font-stack: normal normal bold 32px/30px PT Sans Caption;

/* Color Snack */
$snackbar-info: #3b3b3b;
$snackbar-error: #eb1d23;
$snackbar-success: #7ed321;
$snackbar-alert: #f08000;
$snackbar-white: #ffffffe8;


/* Colors */
$primary-color: #E5E5E5;
$seconday-color: #555555;
$background-color-primary: #FFFFFF;
$background-color-secondary: #E5E5E5;


/* Bordas  */

$border_radius_default: 4px;